#main-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-heading .logo-smol {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: url(assets/logo_smol.png) no-repeat;
  background-size: cover;
}

#last-exec-heading {
  margin-right: 10px;
}

#glob-test-status {
  margin-top: 2px; /* Justify status icon to text. */
}

html {
  height: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f8f8f8;
  border-radius: 5px;
  border: 2px solid #f8f8f8;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



