name: Test Matrix

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-python-versions:
    name: Test Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    services:
      db:
        image: couchdb:3.4
        env:
          COUCHDB_USER: dev
          COUCHDB_PASSWORD: dev
        ports:
          - 5984:5984
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      
      - name: Install dependencies
        run: python -m pip install .[tests]
      
      - name: Run tests
        uses: dariocurr/pytest-summary@main
        with:
          options: tests -m "not manual"
          show: "all"

  test-pytest-versions:
    name: Test Pytest ${{ matrix.pytest-version }} (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - pytest-version: "~=7.0.0"
            python-version: "3.10"
          - pytest-version: "~=7.0.0"
            python-version: "3.12"
          - pytest-version: "~=9.0.0"
            python-version: "3.10"
          - pytest-version: "~=9.0.0"
            python-version: "3.13"
    services:
      db:
        image: couchdb:3.4
        env:
          COUCHDB_USER: dev
          COUCHDB_PASSWORD: dev
        ports:
          - 5984:5984
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      
      - name: Install specific pytest
        run: |
          python -m pip install .[tests]
          python -m pip install pytest${{ matrix.pytest-version }}
      
      - name: Run tests
        uses: dariocurr/pytest-summary@main
        with:
          options: tests -m "not manual"
          show: "all"
