name: Test

on:
  workflow_call:  # allow this workflow to be called from other workflows
  workflow_dispatch: # allow manual trigger

permissions:
  checks: write

jobs:
  test: 
    name: PyTest
    runs-on: ubuntu-latest
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      db:
        # Docker Hub image
        image: couchdb:3.3.2
        env:
          COUCHDB_USER: dev
          COUCHDB_PASSWORD: dev         
        ports:
          # Maps tcp port 5984 on service container to the host
          # It is not necessary until use act tool for local gh actions running
          # The tool doesn't resolve service container by its name,
          # so pass the connection through the host network
          - 5984:5984
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      # This is the version of the action for setting up Python, not the Python version.
      uses: actions/setup-python@v5
      with:
        # Semantic version range syntax or exact version of a Python version
        python-version: '3.x'
        # Optional - x64 or x8
        architecture: 'x64'
        cache: 'pip' # caching pip dependencies

    - name: Install dependencies
      run: python -m pip install .

    - name: Run PyTest
      uses: dariocurr/pytest-summary@main
      env:
        COUCH_DB_HOST: localhost
      with:
        options: --hardpy-dbh ${COUCH_DB_HOST} tests
        show: "all"